<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <section>
    <div class="example-button-row">
      <mat-form-field>
        <input matInput  formControlName="name" />
        <mat-label>Input</mat-label>
      </mat-form-field>
      <div>
        <button type="submit" class="button" mat-flat-button color="primary">
          Submit
        </button>
      </div>
    </div>
    <!-- <mat-list role="list">
      <mat-list-item role="listitem">Item 1</mat-list-item>
      <mat-list-item role="listitem">Item 2</mat-list-item>
      <mat-list-item role="listitem">Item 3</mat-list-item>
    </mat-list> -->
  </section>
</form>
